header[role=banner],
main,
footer[role=contentinfo] {
  padding-right: 2rem;
  padding-left: 2rem;
}

header[role=banner] {
  background: #191818;
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}
header[role=banner] a {
  color: inherit;
  display: block;
  text-decoration: none;
}
header[role=banner] a:active,
header[role=banner] a:focus,
header[role=banner] a:hover {
  opacity: .8;
  text-decoration: underline;
}

header[role=banner] h1 {
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

footer[role=contentinfo] {
  color: gray;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
}

