.IngredientsField ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* TODO: Refactor into 'delete' button style */
.IngredientsField ol button {
  background: #c32441;
  color: #fff;
  margin-top: 1.75rem;
}

/* TODO: Refactor into 'add' button style */
.IngredientsField .pure-button-add {
  margin-top: 1rem;
}

