.RecipeTypesField {
  --inner-radius: .375rem;
  --outer-radius: .625rem;
  --transition-duration: 150ms;
}

.RecipeTypesField label {
  cursor: pointer;
  padding: .5rem 1rem .5rem 2.75rem;
  position: relative;
}

.RecipeTypesField label input:checked ~ strong:before {
  border-color: black;
}
.RecipeTypesField label input:checked ~ strong:after {
  opacity: 1;
}

.RecipeTypesField label input:focus + strong:before,
.RecipeTypesField label input:focus:checked + strong:before {
  border-color: #129fea;
}
.RecipeTypesField label input:focus:checked + strong:after {
  background: #129fea;
}

.RecipeTypesField label strong {
  display: block;
  margin: 0 0 .25rem;
}
.RecipeTypesField label strong:before {
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  content: '';
  display: block;
  height: calc(2 * var(--outer-radius));
  left: .75rem;
  position: absolute;
  top: .3rem;
  transition: border-color var(--transition-duration);
  width: calc(2 * var(--outer-radius));
}
.RecipeTypesField label strong:after {
  background: black;
  border-radius: 100%;
  content: '';
  display: block;
  height: calc(2 * var(--inner-radius));
  left: calc(.75rem + var(--outer-radius) / 2);
  opacity: 0;
  position: absolute;
  transition-duration: var(--transition-duration);
  transition-property: background opacity;
  top: calc(.3rem + var(--outer-radius) / 2);
  width: calc(2 * var(--inner-radius));
}

